<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
      <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body class="bg-blue-50">
    {{> navbarAdmin }}
    <h1 class="text-black mt-[100px] flex justify-center text-3xl font-bold">EDIT PROFILE</h1>
    <div class="container w-6xl ms-3 justify-self-center mt-20">
      <form action="/addexperience" method="post" enctype="multipart/form-data" class="p-10">
      <div class="wrapper h-170 columns-2 bg-white p-10">
        <div class="items-center mt-5">
            <label for="tittle" class="font-bold text-3xl">Name</label><br>
            <input placeholder="Backend Developer" value="" name="tittle" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="tittle" type="text">
        </div>
            <div class="items-center mt-5">
            <label for="profile-image" class="font-bold text-3xl">Image</label>
            <div class="">
                <input name="profile-image" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="profile-image" type="file">
            </div>
            </div>
        <div class="items-center mt-5">
            <label for="email" class="font-bold text-3xl">Email</label><br>
            <input placeholder="name@gmail.com" value="" name="email" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="email" type="text">
        </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
    <div class="relative">
    <input type="password" name="password" id="password" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-100 p-2.5 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" required />
    {{#if message}}
      <p class="text-red-600 italic text-center">{{message}}</p>
    {{/if}}
   <button
    type="button"
    id="togglePassword"
    class="togglePassword absolute inset-y-0 right-[60px] flex items-center pr-10"
    data-target="password"
  >🙈</button>
    </div>
  </div>
  <div class="mb-5">
    <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 ">Confirm Password</label>
    <div class="relative">
    <input type="confirmPassword" name="confirmPassword" id="confirmPassword" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-100 p-2.5 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" required />
    {{#if message}}
      <p class="text-red-600 italic text-center">{{message}}</p>
    {{/if}}
   <button
    type="button"
    id="togglePassword"
    class="togglePassword absolute inset-y-0 right-[60px] flex items-center pr-10"
    data-target="password"
  >🙈</button>
    </div>
  </div>
        <div class="items-center mt-5">
            <label for="title" class="font-bold text-3xl">Title</label><br>
            <input placeholder="Backend Developer" value="" name="title" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="title" type="text">
        </div>
        <div class="items-center mt-5">
            <label for="description" class="font-bold text-3xl">Description</label><br>
            <textarea placeholder="Dumbways Indonesia" value="" name="description" class="mt-2 px-5 h-30 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="description"></textarea>
        </div>
        <div class="items-center mt-5">
            <label for="location" class="font-bold text-3xl">Location</label><br>
            <input placeholder="Depok, Indonesia" value="" name="location" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="location" type="text">
        </div>
        <div class="items-center mt-5">
            <label for="contact" class="font-bold text-3xl">Contact</label><br>
            <input placeholder="083891234567" value="" name="contact" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="contact" type="text">
        </div>
        <div class="items-center mt-5">
            <label for="cv" class="font-bold text-3xl">CV</label><br>
            <input value="" name="cv" class="mt-2 px-5 h-10 w-100 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none" id="cv" type="file">
        </div>
      </div>
        <button type="submit" class="bg-blue-500 flex py-3 px-4 font-bold ms-3 mt-5 text-white rounded-2xl justify-self-end me-3 cursor-pointer hover:bg-blue-700">Submit Update Profile +</button>
      </form>
    </div>

    {{> footer}}
</body>
</html>