<!DOCTYPE html>
<html class="scroll-smooth">
{{> head }}
  </head>
  <body id="home" class="pt-16 ps-15 pe-15">
{{> navbar}}

    <!-- Hero Section Start -->
    <section class="pt-30">
      <div class="container">
        <div class="flex alex-wrap">
          <div class="self-start w-xs rounded-lg pt-10">
            <img src="assets/img/mentor.png" alt="" class="rounded-xl shadow-xl/20" />
          </div>
          <div class="content w-7/12 ms-25">
            <h1 class="text-6xl font-bold">Hi, I'm Ahadi 👋</h1>
            <h2 class="text-2xl font-semibold mt-5 text-gray-600">Indie Hacker & Full-Stack Developer</h2>
            <p class="text-base font-normal mt-5 text-gray-700">
              I build and ship digital products from scratch to production. Passionate about creating end-to-end solutions and turning ideas into fully functional applications. With expertise in both frontend and backend development, I
              handle everything from initial concept to deployment and maintenance.
            </p>
            <div class="mt-8 flex">
              <img src="assets/icon/map.png" alt="" class="w-6" />
              <h1 class="flex items-center ms-2 text-gray-500">Depok, Sawangan, Indonesia</h1>
            </div>
            <div class="mt-1 flex">
              <img src="assets/icon/dot.png" alt="" class="w-6" />
              <h1 class="flex items-center ms-1 text-gray-500">Available for new projects</h1>
            </div>
            <button class="flex space-x-4 mt-10 ms-3">
              <a target="_blank" href="https://wa.me/6283891495814" class="flex align-middle text-white bg-green-500 hover:bg-green-600 rounded-lg text-lg px-7 py-3 font-medium">
                <img class="" src="assets/icon/wa.svg" alt="" width="20px" />
                &nbsp Let's Talk
              </a>
              <a href="assets/cv.pdf" download class="flex align-middle text-white bg-black hover:bg-gray-800 rounded-lg text-lg px-7 py-3 font-medium">
                <img src="assets/icon/download.png" alt="" class="flex align-middle" width="20px" height="15px" />
                &nbsp Download CV
              </a>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Tech Stack Session Start -->
    <section id="tech-stack" class="pt-40">
      <h1 class="font-bold text-3xl">Tech Stack - Tools I Use Everyday</h1>
        <div class="marquee pt-20">
          <div class="marquee-content flex space-x-18">
            {{#each hasil }}              
              <button class="logo">
                <img src="assets/tech/{{ this.icon_tech }}" alt="" class="size-17 shadow-xs p-3 hover:shadow-lg rounded-md mb-3 transition duration-700" />
                <h6>{{ this.name_tech }}</h6>
              </button>
            {{/each}}
            {{#each hasil }}              
              <button class="logo">
                <img src="assets/tech/{{ this.icon_tech }}" alt="" class="size-17 shadow-xs p-3 hover:shadow-lg rounded-md mb-3 transition duration-700" />
                <h6>{{ this.name_tech }}</h6>
              </button>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    <!-- Tech Stack Session End -->

    <!-- Experience Session Start -->
    <section id="experience" class="pt-40">
      <h1 class="font-bold text-3xl">Work Experience:</h1>
      <!-- Experience 1 Start-->
      <div class="card mt-20 ps-10 flex justify-between  mb-20">
        <div class="flex">
        <img src="assets/img/logo-dumbways.png" alt="" class="w-16 h-12 me-10 mt-3">
          <div class="desc">
          <span class="text-xl font-bold">Mentor Full Stack Web Developer</span>
          <h6 class="text-green-500 mb-3">DumbWays Indonesia</h6>
          <div class="job text-base text-gray-600">
            <li class="">Mentoring student in Full Stack Development Bootcamp</li>
            <li class="">Teaching JavaScript, React, Node.js, and related technologies</li>
            <li class="">Providing code reviews and technical guidance</li>
            <li class="">Developing curriculum and learning materials</li>
            <li class="">Conducting technical interviews and assessments</li>
          </div>
          <div class="space-x-1 pt-5 text-sm text-gray-700">
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">JavaScript</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">React</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Express</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">PostgreSQL</span>
          </div>
        </div>
      </div>
        <div>
          <h1 class="text-gray-600">  
            Oct 2022 - Present
          </h1>
        </div>
      </div>
      <!-- Experience 1 End-->

      <!-- Experience 2 Start-->
        <div class="card mt-20 ps-10 flex justify-between  mb-20">
        <div class="flex">
        <img src="assets/img/lezzcode.png" alt="" class="w-16 h-16 me-10">
          <div class="desc">
          <span class="text-xl font-bold">Full Stack Web Developer</span>
          <h6 class="text-green-500 mb-3">LezzCode</h6>
          <div class="job text-base text-gray-600">
            <li class="">Develop and maintain web applications</li>
            <li class="">Collaborate with the team to complete projects on time</li>
            <li class="">Implement new features based on user requirements</li>
            <li class="">Optimize application performance and user experience</li>
          </div>
          <div class="space-x-1 pt-5 text-sm text-gray-700">
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">React</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Next.js</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">MongoDB</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Tailwind</span>
          </div>
        </div>
      </div>
        <div>
          <h1 class="text-gray-600">  
            Oct 2023 - Mar 2024
          </h1>
        </div>
      </div>
      <!-- Experience 2 End-->

      <!-- Experience 3 Start-->
        <div class="card mt-20 ps-10 flex justify-between  mb-20">
        <div class="flex">
        <img src="assets/img/nocola.png" alt="" class="w-16 h-4 me-10 mt-5">
          <div class="desc">
          <span class="text-xl font-bold">Internship Full Stack Web Developer</span>
          <h6 class="text-green-500 mb-3">LezzCode</h6>
          <div class="job text-base text-gray-600">
            <li class="">Assisted in developing web applications using HTML, CSS, and JavaScript</li>
            <li class="">Worked on IoT projects involving hardware integration and PCB assembly</li>
            <li class="">Identified and fixed software bugs, ensuring optimal performance and security</li>
          </div>
          <div class="space-x-1 pt-5 text-sm text-gray-700">
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">JavaScript</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">IoT</span>
            <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">MySQL</span>
          </div>
        </div>
      </div>
        <div>
          <h1 class="text-gray-600">  
            May 2019 - Oct 2019
          </h1>
        </div>
      </div>
      <!-- Experience 3 End-->
    </section>
    <!-- Experience Session End -->

    <!--Project Session Start -->
      <section id="my-project" class="pt-30">
        <h1 class="font-bold text-3xl">My Projects:</h1>
        <div class="grid grid-cols-2  space-x-8">
          <!-- Fakturly -->
            <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/fakturly.png" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">Fakturly</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">Digital invoice and payment reminder solution that makes billing management easier. Built with modern tech stack for optimal performance.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Next.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">TypeScript</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Tailwind</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3  text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex items-center text-gray-600 py-3">
                                  <img class="" src="assets/icon/github.png" alt="" width="20px" />
                                  &nbsp Private Repository
                                </a>
                                <a href="" class="flex items-center text-blue-600 hover:text-blue-800 rounded-lg py-3">
                                  <img src="assets/icon/link-blue.png" alt="" class="flex" width="20px" height="15px" />
                                  &nbsp Live Demo
                                </a>
                              </div>
                            </div>
                </div>
            </div>
            <!-- Nimalis -->
              <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/nimalis.png" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">Nimalis</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">A peer-to-peer platform connecting minimalists with those in need, enabling users to share and find free items while promoting sustainable living.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Next.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">TypeScript</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Tailwind</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3  text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex items-center text-gray-600 py-3">
                                  <img class="" src="assets/icon/github.png" alt="" width="20px" />
                                  &nbsp Private Repository
                                </a>
                                <a href="" class="flex items-center text-blue-600 hover:text-blue-800 rounded-lg py-3">
                                  <img src="assets/icon/link-blue.png" alt="" class="flex" width="20px" height="15px" />
                                  &nbsp Live Demo
                                </a>
                              </div>
                            </div>
                </div>
            </div>
            <!-- LezzAuth -->
              <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/lezzauth.gif" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">LezzAuth</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">A ready-to-use user management platform, providing pre-built components for login and registration systems.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">React</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">TypeScript</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Tailwind</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3  text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex items-center text-gray-600 py-3">
                                  <img class="" src="assets/icon/github.png" alt="" width="20px" />
                                  &nbsp Private Repository
                                </a>
                                <a href="" class="flex items-center text-blue-600 hover:text-blue-800 rounded-lg py-3">
                                  <img src="assets/icon/link-blue.png" alt="" class="flex" width="20px" height="15px" />
                                  &nbsp Live Demo
                                </a>
                              </div>
                            </div>
                </div>
            </div>
            <!-- LezzTable -->
              <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/lezztable.gif" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">LezzTable</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">A platform that simplifies the creation of custom tables and lists using both static data and APIs.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Next.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">TypeScript</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Node.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Tailwind</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3  text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex items-center text-gray-600 py-3">
                                  <img class="" src="assets/icon/github.png" alt="" width="20px" />
                                  &nbsp Private Repository
                                </a>
                                <a href="" class="flex items-center text-blue-600 hover:text-blue-800 rounded-lg py-3">
                                  <img src="assets/icon/link-blue.png" alt="" class="flex" width="20px" height="15px" />
                                  &nbsp Live Demo
                                </a>
                              </div>
                            </div>
                </div>
            </div>
            <!-- Raimu.pro -->
              <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/raimu.png" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">Raimu.pro</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">A platform for pixel AI image generation that produces HD images based on user-defined prompts.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Next.js</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">TypeScript</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">AI/ML</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Tailwind</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3 text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex items-center text-gray-600 py-3">
                                  <img class="" src="assets/icon/github.png" alt="" width="20px" />
                                  &nbsp Private Repository
                                </a>
                                <a href="" class="flex items-center text-gray-600 rounded-lg py-3">
                                  <img src="assets/icon/link.png" alt="" class="flex" width="20px" height="15px" />
                                  &nbsp Demo Unavailable
                                </a>
                              </div>
                            </div>
                </div>
            </div>
            <!-- Hallo Corona -->
              <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/hallocorona.png" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">Hallo Corona</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">A peer-to-peer platform connecting minimalists with those in need, enabling users to share and find free items while promoting sustainable living.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">React</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Go</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">PostgreSQl</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Bootstrap</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3  text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex  items-center text-blue-600 hover:text-blue-800 py-3">
                                  <img class="" src="assets/icon/github-blue.png" alt="" width="20px" />
                                  &nbsp View On Github
                                </a>
                                <a href="" class="flex items-center text-gray-600 py-3">
                                  <img src="assets/icon/link.png" alt="" class="flex items-center" width="20px" height="15px" />
                                  &nbsp Demo Unavailable
                                </a>
                              </div>
                            </div>
                </div>
            </div>
            <!-- DumbMerch -->
              <div class="bg-white rounded-xl shadow-xs hover:shadow-md mt-15">
              <div class="bg-gray-100 justify-center flex rounded-t-xl">
                <a href="#">
                    <img class="h-50" src="assets/img/dumbmerch.png" alt="" />
                </a>
              </div>
                <div class="p-8 space-x-4">
                    <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900">DumbMerch</h5>
                    <p class="mb-3 font-normal text-sm text-gray-600">A comprehensive e-commerce platform for buying and selling.</p>
                              <div class="space-x-1 pt-2 text-xs text-gray-600">
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">React</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Express</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">PostgreSQL</span>
                              <span class="px-3 py-0.5 bg-slate-100 rounded-2xl">Bootstrap</span>
                            </div>
                            <div>
                                <div class="flex space-x-4 mt-5 ms-3  text-xs">
                                <a target="_blank" href="https://wa.me/6283891495814" class="flex  items-center text-blue-600 hover:text-blue-800 py-3">
                                  <img class="" src="assets/icon/github-blue.png" alt="" width="20px" />
                                  &nbsp View On Github
                                </a>
                                <a href="" class="flex items-center text-gray-600 py-3">
                                  <img src="assets/icon/link.png" alt="" class="flex items-center" width="20px" height="15px" />
                                  &nbsp Demo Unavailable
                                </a>
                              </div>
                            </div>
                </div>
            </div>
        </div>
      </section>
    <!--Project Session End -->

    <!-- Build Together Session Start -->
    <div class="mt-30 justify-center text-center">
      <div>
        <span class="font-bold text-3xl">Let's build something together</span>
        <p class="mt-3 text-gray-500 text-sm">Feel free to reach out if you're looking for a developer, have a question, or just want to connect.</p>
      </div>
        <div class="flex space-x-4 mt-5  justify-center text-sm">
          <a target="_blank" href="https://wa.me/6283891495814" class=" flex items-center text-gray-600 py-3">
            <img class="" src="assets/icon/github.png" alt="" width="20px" />
            &nbsp adi.hadi270@gmail.com
          </a>
          <a href="" class="flex items-center text-gray-600 hover:text-gray-800 rounded-lg py-3">
            <img src="assets/icon/wa.svg" alt="" class="flex" width="20px" height="15px" />
            &nbsp +62 838-9149-5814
          </a>
    </div>  
    </div>
    <!-- Build Together Session End -->

{{> footer }}
  </body>
</html>
