<!-- Footer -->
<Footer class="mt-40">
  <hr class="text-gray-200 font-medium" />
  <div class="justify-center text-gray-600 text-center mt-8 text-sm">
    <p>&copy; <script>document.write(new Date().getFullYear());</script> Designed and coded with ❤️ by Ahadi</p>
  </div>
  <div class="flex justify-center mt-4 space-x-3 mb-8">
    <a href="https://github.com/ahaydeid" target="_blank">
      <img src="assets/icon/github.png" alt="" class="w-5" />
    </a>
    <a href="">
      <img src="assets/icon/linkedin.png" alt="" class="w-5" />
    </a>
  </div>
</Footer>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="assets/script.js"></script>