<!-- Awal Navbar -->
<nav class="bg-white border-gray-200 fixed top-0 left-0 w-full h-16 z-50">
  <div class="flex justify-between p-2 ml-6">
    <a href="/dashboard" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="text-2xl font-bold whitespace-nowrap text-white bg-black">AH</span>
    </a>
    <div class="mt-2 w-full md:block md:w-auto flex justify-center text-sm" id="navbar-default">
      <ul class="font-medium flex flex-col items-center p-4 md:p-0 md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a href="/manageStack" class="text-gray-500 rounded-sm md:border-0 hover:text-black md:p-0 md:dark:hover:bg-transparent font-normal">Tech Stack</a>
        </li>
        <li>
          <a href="/manageexperience" class="text-gray-500 rounded-sm md:border-0 hover:text-black md:p-0 md:dark:hover:bg-transparent font-normal">Experience</a>
        </li>
        <li>
          <a href="/manageproject" class="text-gray-500 rounded-sm md:border-0 hover:text-black md:p-0 md:dark:hover:bg-transparent font-normal">Projects</a>
        </li>
        <li>
          <button class="me-9 flex">
            <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z" />
            </svg>
          </button>
        </li>
        <button type="button" class="cursor-pointer text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Logout</button>
      </ul>
    </div>
  </div>
</nav>
<!-- Akhir Navbar -->